* {
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.NavBar-img {
  width: 160px;
}

.App {
  text-align: center;
}

.searchbar-container{
  display: flex;
  margin: 0px auto;
  padding: 0px 20px;
}

.searchbar{

}
